<script setup lang="ts">
import { ref } from 'vue'
import axios from 'axios'

const errorMessage = ref<string>('')
const resMessage = ref<number>()
const fishData = ref({
  Species: -1,
  Length1: 0.0,
  Length2: 0.0,
  Length3: 0.0,
  Height: 0.0,
  Width: 0.0
})

const predictFishWeight = async () => {
  try {
    const response = await axios.post('http://localhost:8000/fish/predict/', fishData.value)

    console.log('Predicted fish weight:', response.data)
    resMessage.value = response.data
    errorMessage.value = ''
  } catch (error) {
    console.error('Failed to predict fish weight:', error)
    errorMessage.value = 'Failed to predict fish weight'
  }
}
</script>
<template>
  <div class="container">
    <img
      src="https://thumb.photo-ac.com/25/258f4ff33a1182c8ffa9546bb5809557_t.jpeg"
      alt="Fish Background"
      class="fish-background"
    />
    <form @submit.prevent="predictFishWeight" class="form">
      <h1 class="orange-text">Predict Fish Weight</h1>
      <br />
      <table>
        <tr>
          <td>
            <label for="species" class="orange-text">Species:</label>
          </td>
          <td>
            <select id="species" v-model="fishData.Species" class="orange-border input-field">
              <option value="0">Bream</option>
              <option value="1">Roach</option>
              <option value="2">Whitefish</option>
              <option value="3">Parkki</option>
              <option value="4">Perch</option>
              <option value="5">Pike</option>
              <option value="6">Smelt</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label for="length1" class="orange-text">Length 1:</label>
          </td>
          <td>
            <input
              id="length1"
              type="text"
              v-model.number="fishData.Length1"
              class="orange-border input-field"
            />
          </td>
        </tr>
        <tr>
          <td>
            <label for="length2" class="orange-text">Length 2:</label>
          </td>
          <td>
            <input
              id="length2"
              type="text"
              v-model.number="fishData.Length2"
              class="orange-border input-field"
            />
          </td>
        </tr>
        <tr>
          <td>
            <label for="length3" class="orange-text">Length 3:</label>
          </td>
          <td>
            <input
              id="length3"
              type="text"
              v-model.number="fishData.Length3"
              class="orange-border input-field"
            />
          </td>
        </tr>
        <tr>
          <td>
            <label for="height" class="orange-text">Height:</label>
          </td>
          <td>
            <input
              id="height"
              type="text"
              v-model.number="fishData.Height"
              class="orange-border input-field"
            />
          </td>
        </tr>
        <tr>
          <td>
            <label for="width" class="orange-text">Width:</label>
          </td>
          <td>
            <input
              id="width"
              type="text"
              v-model.number="fishData.Width"
              class="orange-border input-field"
            />
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <br />
            <button type="submit" class="orange-button">Calculate</button>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <br />
            <p class="center orange-text">{{ 'Weight: ' + resMessage }}</p>
          </td>
        </tr>
      </table>
    </form>
    <p v-if="errorMessage" class="error">{{ errorMessage }}</p>
  </div>
</template>

<style scoped>
.container {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.form {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.orange-button {
  background-color: orange;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.orange-button:hover {
  background-color: #ff8c00;
}

.error {
  color: red;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.center {
  text-align: center;
}

.orange-border {
  border: 1px solid orange;
}

.orange-text {
  color: orange;
}

.fish-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
}
</style>
